<app-header></app-header>
<main class="main-layout">
    <article class="rabbitlist">
        <header>
            <h2>Deine Freunde</h2>
        </header>
        <app-friendsbox></app-friendsbox>
    </article>
    <article class="rabbitlist">
        <header>
            <h2>News </h2>
        </header>
        <app-card *ngFor="let rabbit of [0, 1, 2, 3]" [image]="imageCollection[rabbit]" [name]="nameCollection[rabbit]"
            [status]="statusCollection[rabbit]"></app-card>

        <!-- <app-card [image]="imageCollection[0]" [name]="nameCollection[0] [status]="statusCollection[0]"></app-card>  -->
    </article>
    <article class="rabbitlist">
        <header>
            <h2>Kennst du schon?</h2>
        </header>
        <app-proposals></app-proposals>
    </article>
</main>